@import url("../base/base.css");

.banniere {
  text-align: center;
  background: var(--rouge-vin-profond);
}

.banniere-titre {
  font-size: var(--fs-24);
  color: var(--blanc-fonce);
  padding: var(--espace-grand);
}
