@import url("../base/base.css");

.banniere {
  position: sticky;
  top: 0;
  width: 100vw;
  /* pour centrer la banniere
  car le body est margin-inline: var(--fs-20); */
  /* pousser la banniere vers la droite de 50% de la largeur du parent*/
  margin-left: 50%;
  /* deplace la banniere vers la gauche de 50% de la largeur de la banniere elle-meme*/
  transform: translateX(-50%);
  text-align: center;
  background: var(--rouge-vin-profond);
  /* z-index: 1000; */
}

.banniere-titre {
  font-size: var(--fs-24);
  color: var(--blanc-fonce);
  margin-top: 0;
  padding: var(--espace-grand);
}

@media screen and (min-width: 768px) {
  .mobile-navbar.banniere {
    top: 45px;
  }
  .banniere-titre {
    padding: 5px;
  }
  .home {
    margin-top: 45px;
  }
  [id="app"] {
    margin-top: 45px;
  }
}
