@import url("../base/base.css");

/* CARD */
.card {
  background: var(--blanc-clair);
  border-radius: var(--espace-moyen-petit);
  padding: var(--fs-10);
  position: relative;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  height: 145px;
  border: var(--espace-mini) solid black;
}

.card {
  position: relative;
  overflow: hidden;
}

.image-container {
  text-align: center;
  padding: var(--fs-12);
}

.image {
  height: 140px;
  object-fit: contain;
}

.title {
  font-weight: 200;
  font-size: var(--fs-24);
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* NAME */
.name {
  font-size: var(--fs-16);
  font-weight: 900;
  margin-bottom: var(--espace-petit-neg);
  color: var(--gris-fonce);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: var(--fs-20);
  font-weight: bold;
  margin: var(--espace-zero) auto;
}

.btn {
  width: 100%;
  background: var(--rouge-vin-profond);
  color: var(--blanc-clair);
  border: none;
  padding: var(--fs-12);
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}

.btn:hover {
  background: var(--rouge-framboise-fonce);
}

.couleur {
  display: flex;
  justify-content: start;
  margin-left: var(--espace-zero);
  margin-top: var(--espace-moyen-neg);
}

.color-dot {
  display: inline-block;
  text-align: center;
  width: var(--fs-14);
  height: var(--fs-14);
  border-radius: 50%;
  margin-inline: var(--espace-moyen-petit);
  border: var(--espace-mini) solid var(--gris-clair);
  margin-bottom: var(--fs-16);
}

.hover-info {
  position: absolute;
  left: var(--espace-grand-neg);
  bottom: var(--espace-zero);
  font-size: var(--fs-14);
  width: 100%;
  height: 100%;
  background: var(--bordeau-profond);
  color: var(--blanc-clair);
  padding-inline: var(--fs-12);
  padding-bottom: var(--fs-64);
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
  margin-left: var(--fs-16);
}

.hover-info.active {
  transform: translateY(0);
  opacity: 0.98;
}

.info-btn {
  position: absolute;
  bottom: var(--espace-gros);
  right: var(--espace-moyen);
  background: var(--blanc-clair);
  color: var(--noir-profond);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-14);
  cursor: pointer;
  backdrop-filter: blur(var(--espace-petit));
  border-radius: var(--espace-moyen-mini);
  padding: var(--espace-tres-petit) var(--espace-moyen-petit);
  z-index: 3;
  border: var(--espace-mini) solid black;
}

.info-btn span {
  font-size: var(--fs-12);
  font-weight: 700;
}

.hover-info {
  pointer-events: none;
}

.hover-info.active {
  pointer-events: auto;
}

.fixed-btn {
  position: absolute;
  bottom: var(--espace-zero);
  width: 70%;
  z-index: 5;
  color: var(--blanc-clair);
  border-radius: var(--espace-petit);
  right: var(--espace-zero);
  border: var(--espace-mini) solid black;
}

.fixed-btn {
  height: var(--espace-gros);
  overflow: hidden;
}

.litre {
  margin-top: var(--espace-moyen-petit);
  font-size: var(--fs-14);
  font-weight: 200;
  color: var(--noir-profond);
}

.info-fleche {
  margin-top: var(--espace-petit);
  font-weight: bold;
}

.alignement {
  display: flex;
  justify-content: space-between;
}
