@import url("../base/base.css");

.cart {
  max-width: 900px;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gris-clair);
  padding: 15px;
  margin-bottom: 10px;
}

.cart-img {
  width: var(--fs-64);
}

.cart-info {
  flex: 1;
  margin-left: var(--fs-20);
}

.cart-qty input {
  width: 50px;
}

.cart-subtotal {
  font-weight: bold;
  color: var(--rouge-vin-profond);
}

.cart-total {
  font-size: var(--fs-20);
  margin-top: var(--fs-20);
  max-width: max-content;
}
