@import url("../base/base.css");

/* catalogue-carte */
.catalogue-carte {
  background: var(--blanc-clair);
  border-radius: var(--espace-moyen-petit);
  padding: var(--fs-10);
  position: relative;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  /* height: 145px; */
  border: var(--espace-mini) solid black;
  position: relative;
  overflow: hidden;
}

.image-conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: var(--espace-moyen-mini);
}

.image-conteneur .image {
  height: 140px;
  object-fit: contain;
  margin-left: var(--espace-petit);
  padding-top: 10px;
}

/* contenu */
.contenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: var(--espace-moyen);
  padding-right: 10px;
  padding-bottom: 10px;
}

/* nom */
.nom {
  font-size: var(--fs-16);
  font-weight: 900;
  margin-bottom: var(--espace-petit-neg);
  color: var(--gris-fonce);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prix {
  /* font-size: var(--fs-20); */
  font-size: var(--fs-16);
  font-weight: bold;
  margin: var(--espace-zero);
  text-align: center;
}

.btn {
  width: 100%;
  background: var(--rouge-vin-profond);
  color: var(--blanc-clair);
  border: none;
  padding: var(--fs-12);
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}

.btn:hover {
  background: var(--rouge-framboise-fonce);
}

.couleur {
  display: flex;
  justify-content: start;
  margin-left: var(--espace-zero);
  margin-top: var(--espace-moyen-neg);
}

.couleur-point {
  display: inline-block;
  text-align: center;
  width: var(--fs-14);
  height: var(--fs-14);
  border-radius: 50%;
  margin-inline: var(--espace-moyen-petit);
  border: var(--espace-mini) solid var(--gris-clair);
  margin-bottom: var(--fs-16);
}

.hover-info {
  position: absolute;
  left: var(--espace-grand-neg);
  bottom: var(--espace-zero);
  font-size: var(--fs-14);
  width: 100%;
  height: 100%;
  background: var(--bordeau-profond);
  color: var(--blanc-clair);
  padding-inline: var(--fs-12);
  padding-bottom: var(--fs-64);
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
  margin-left: var(--fs-16);
  padding: 25px 25px 40px 35px;
  font-size: 14px;
}

.info-media p {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hover-info.active {
  transform: translateY(0);
  opacity: 0.98;
}

.info-btn {
  position: absolute;
  /* bottom: var(--espace-gros); */
  bottom: var(--espace-gros-plus);
  right: var(--espace-moyen);
  background: var(--blanc-clair);
  color: var(--noir-profond);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-14);
  cursor: pointer;
  backdrop-filter: blur(var(--espace-petit));
  border-radius: var(--espace-moyen-mini);
  padding: var(--espace-tres-petit) var(--espace-moyen-petit);
  z-index: 3;
  border: var(--espace-mini) solid black;
}

.liste-btn {
  position: absolute;
  bottom: var(--espace-gros-plus);
  right: var(--espace-gros-plus);
  background: var(--blanc-clair);
  color: var(--noir-profond);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-14);
  cursor: pointer;
  backdrop-filter: blur(var(--espace-petit));
  border-radius: var(--espace-moyen-mini);
  padding: var(--espace-tres-petit) var(--espace-moyen-petit);
  z-index: 3;
  border: var(--espace-mini) solid black;
}

.info-btn span {
  font-size: var(--fs-12);
  font-weight: 700;
}

.hover-info {
  pointer-events: none;
}

.hover-info.active {
  pointer-events: auto;
}

.fixed-btn {
  position: absolute;
  bottom: var(--espace-zero);
  width: 70%;
  z-index: 5;
  color: var(--blanc-clair);
  border-radius: var(--espace-petit);
  right: var(--espace-zero);
  border: var(--espace-mini) solid black;
}

.fixed-btn {
  height: var(--espace-gros);
  overflow: hidden;
}

.litre {
  margin-top: var(--espace-moyen-petit);
  font-size: var(--fs-14);
  font-weight: 200;
  color: var(--noir-profond);
}

.info-fleche {
  margin-top: var(--espace-petit);
  font-weight: bold;
}

.alignement {
  display: flex;
  justify-content: space-between;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 15vh;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.hero-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.hero-titre {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.catalogue-carte-btn {
  display: block;
  max-width: 100%;
  margin-top: auto;
  background: var(--rouge-vin-profond);
  color: var(--blanc-fonce);
  border: var(--espace-mini) solid var(--noir-profond);
  padding: var(--espace-moyen-petit);
  font-size: var(--fs-16);
  font-weight: 700;
  border-radius: var(--espace-moyen-mini);
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.btn-recherche.catalogue {
  margin-bottom: 15px;
  justify-content: space-between;
}
