@import url("../base/base.css");
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--fs-14) var(--fs-24);
  /* background: #; */
  border-top: 1px solid var(--gris-tres-clair-2);
  font-size: var(--fs-14);
  color: var(--gris-fonce-2);
  border-top: 1px solid var(--noir-tres-transparent);
}
