.price-range {
  padding: 15px 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-title {
  margin-bottom: 20px;
}

.values {
  display: flex;
  justify-content: space-between;
  /* font-size: 0.1rem; */
  color: #ddd;
  padding: 0 5px;
  display: none;
}

.app-filtre {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(
    135deg,
    var(--rouge-framboise-fonce),
    var(--rouge-vin-profond)
  );
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-tooltips {
  position: relative;
}

.tooltip-min {
  position: absolute;
  top: -50px;
  left: 0;
  font-weight: 600;
}

.tooltip-max {
  position: absolute;
  bottom: -10px;
  right: 0;
  font-weight: 600;
}
