@media (max-width: 3000px) {
  body {
    margin-inline: var(--fs-20);
  }

  .navbar {
    position: sticky;
  }

  .nav-links {
    gap: var(--fs-16);
    font-size: var(--fs-14);
  }

  .media {
    display: flex;
  }

  .image {
    max-width: var(--espace-enorme);
    max-height: var(--espace-enorme);
  }

  .badge.media {
    display: none;
  }

  .catalogue-carte {
    width: 100%;
    margin: var(--espace-zero) auto;
  }

  .nom {
    font-size: var(--fs-16);
  }

  .info-media {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: var(--espace-moyen-neg);
    max-width: 35ch;
  }

  .info-media p {
    margin-bottom: var(--espace-moyen-neg);
  }

  .btn.fixed-btn {
    padding: var(--espace-moyen-petit) var(--espace-grand-mini);
    height: auto;
  }

  .image-conteneur {
    width: var(--espace-enorme);
  }
}

@media (max-width: 595px) {
  .navbar {
    position: sticky;
  }

  .image-conteneur {
    width: var(--espace-enorme);
  }

  /* cacher menu */
  .nav-links {
    position: absolute;
    top: var(--espace-gros-plus);
    right: var(--espace-zero);
    background: var(--blanc-fonce);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-16);
    padding: var(--fs-20) var(--espace-zero);
    display: none;
  }

  /* afficher quand ouvert */
  .nav-links.open {
    display: flex;
    z-index: 10;
  }

  .per-page {
    display: flex;
    flex-direction: column;
    gap: var(--espace-moyen);
  }

  .pagination {
    flex-direction: column;
  }

  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-16);
    gap: var(--espace-zero);
  }

  .media {
    display: flex;
  }

  .image {
    max-width: var(--espace-enorme);
    max-height: var(--espace-enorme);
  }

  .badge.media {
    display: none;
  }

  .catalogue-carte {
    min-width: 270px;
  }

  .name {
    font-size: var(--fs-14);
  }

  .info-media {
    display: flex;
    flex-direction: column;
    /* margin-top: 35px; */
    gap: var(--espace-moyen-neg);
    max-width: 35ch;
  }

  .btn.fixed-btn {
    padding: var(--espace-moyen-petit) var(--espace-grand-mini);
    height: auto;
  }
}

@media (max-width: 579px) {
  .alignement {
    margin-top: var(--espace-gros-neg);
  }
}

@media (max-width: 415px) {
  body {
    overflow-x: hidden;
  }

  .btn.fixed-btn {
    padding: var(--espace-moyen-petit) var(--espace-grand-mini);
    height: auto;
  }

  .navbar {
    position: sticky;
  }

  .pages {
    margin-top: var(--espace-moyen);
    font-size: var(--fs-14);
  }

  .title {
    font-size: var(--fs-16);
  }

  .media {
    display: flex;
  }

  .image {
    max-width: var(--espace-gros-plus);
    max-height: var(--espace-gros-plus);
  }

  .badge.media {
    display: none;
  }

  .catalogue-carte {
    min-width: 250px;
  }

  .nom {
    font-size: var(--fs-16);
  }

  .info-media {
    display: flex;
    flex-direction: column;
    /* margin-top: 35px; */
    gap: var(--espace-moyen-neg);
    max-width: 35ch;
  }

  .couleur {
    display: flex;
    justify-content: start;
  }
}

/* TABLETTE */
@media (max-width: 768px) {
  .cart {
    max-width: 100%;
    padding: var(--espace-moyen);
  }

  .cart-item {
    flex-wrap: wrap;
    gap: var(--espace-moyen);
  }

  .cart-info {
    margin-left: var(--espace-moyen);
  }
}

/* MOBILE */
@media (max-width: 415px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--espace-grand-mini);
  }

  .cart-img {
    width: var(--espace-enorme);
    align-self: center;
  }

  .cart-info {
    margin: var(--espace-moyen) var(--espace-zero);
    text-align: center;
    width: 100%;
  }

  .cart-qty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-qty input {
    width: 60px;
  }

  .cart-subtotal {
    width: 100%;
    text-align: right;
    font-size: var(--fs-16);
  }

  .cart-item button {
    width: 100%;
    margin-top: var(--espace-moyen);
    padding: var(--espace-moyen);
    background: #8b0036;
    color: white;
    border: none;
    border-radius: var(--espace-petit);
  }

  .continu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--espace-grand);
    flex-wrap: wrap;
    gap: var(--espace-moyen);
  }

  .image-conteneur {
    width: 65px;
  }
}

@media (max-width: 321px) {
  .catalogue-carte {
    max-width: 89%;
    margin-right: 45px;
  }

  .info-media {
    display: flex;
    flex-direction: column;
    /* margin-top: 35px; */
    gap: var(--espace-moyen-neg);
    max-width: 25ch;
  }
}
